Loads required packages

In [2]:
import numpy as np
from datascience import *
%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
import warnings
warnings.simplefilter(action="ignore",category = FutureWarning)

Number of Seconds in the Month of June

In [4]:
30*24*60*60

2592000

In [ ]:
Number of Seconds that have passed between June 1st and August 14th at 9:30

In [5]:
74*24*60*60-(2.5*60*60)

6384600.0

Reads the table that is downloaded in this file

In [15]:
pop = Table.read_table('world_population.csv')
pop

Population
2557628654
2594939877
2636772306
2682053389
2730228104
2782098943
2835299673
2891349717
2948137248
3000716593
... (56 rows omitted)

In [ ]:
Shows the 66th element, which is year 2015.

In [16]:
pop.take(65)

Population
7256490011

Turns it into an array so we can work with the data

In [17]:
pop.column("Population")

array([2557628654, 2594939877, 2636772306, 2682053389, 2730228104,
       2782098943, 2835299673, 2891349717, 2948137248, 3000716593,
       3043001508, 3083966929, 3140093217, 3209827882, 3281201306,
       3350425793, 3420677923, 3490333715, 3562313822, 3637159050,
       3712697742, 3790326948, 3866568653, 3942096442, 4016608813,
       4089083233, 4160185010, 4232084578, 4304105753, 4379013942,
       4451362735, 4534410125, 4614566561, 4695736743, 4774569391,
       4856462699, 4940571232, 5027200492, 5114557167, 5201440110,
       5288955934, 5371585922, 5456136278, 5538268316, 5618682132,
       5699202985, 5779440593, 5857972543, 5935213248, 6012074922,
       6088571383, 6165219247, 6242016348, 6318590956, 6395699509,
       6473044732, 6551263534, 6629913759, 6709049780, 6788214394,
       6866332358, 6944055583, 7022349283, 7101027895, 7178722893,
       7256490011], dtype=int64)

In [ ]:
#Import Table
titanic = Table.read_table('titanic_data.csv')
titanic

In [ ]:
#Relabeling the column
titanic.relabeled('Pclass','passenger_class')

In [ ]:
#New column of family size
titanic.with_column('Family_size',titanic['SibSp']+titanic['Parch'])

In [ ]:
#Barplot of passengers by class
class_table = titanic.group("Pclass")
class_table.barh('Pclass','count')

In [ ]:
#Youngest Five Passengers
young_age_table = titanic.sort('Age')
young_age_table.show(5)

In [ ]:
#Five oldest passengers
old_age_table = titanic.sort('Age',decsending = True)
no_nan = old_age_table.where('Age',are.above(0))
no.nan.show(5)

In [ ]:
#Survival Rate
surv_table = titanic.select('Survived','Pclass')
surv_table2 = surv_table.group('Pclass',sum)
surv_table2
surv_array = surv_table2.column('Survived Sum')/(136+87+119)
class1 = surv_array.item(0)
class2 = surv_array.item(1)
class3 = surv_array.item(2)
survival_rate = Table().with_columns('passenger_class',make_array("1","2","3"),"survived",make_array(class1,class2,class3))
survival_rate